:root {
    --00001: rgb(210, 200, 400);
    --00002: rgba(255, 255, 255, 0.884);
    --00003: rgb(219, 219, 219);
    --00004: rgb(255, 255, 255);
    --00005: rgba(231, 231, 231, 0.712)
    --00006: rgb(0, 0, 0);
  }

  @media print {
    /* print styles go here */
  }